@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    width: 98vw;
    background-color: #000000c6;
    color: white;
}

h1 {
    text-align: center;
}

#placar {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#placar span label {
    font-size: 20px;
    margin-right: 10px;
}

#placar span input {
    border: none;
    border-bottom: 2px solid white;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    outline: none;
}

#placar span .pontosPlayer {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 5px;
}

#container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divRow {
    display: flex;
    border: 1px solid #ffffff;
}

#container .divRow div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 50px;
    height: 100px;
    width: 150px;
    cursor: pointer;
}

#container #reset {
    width: 150px;
    height: 60px;
    margin-top: 10px;
    background-color: #bffbffdf;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    #placar {
        display: block;
        text-align: center;
    }

    #placar span .pontosPlayer {
        margin-right: 290px;
    }

    #container .divRow div {
        width: 90px;
        height: 70px;
        font-size: 40px;
    }

    #container #reset {
        width: 100px;
    }
}

@media screen and (max-width: 400px) {
    #container .divRow div {
        width: 50px;
        height: 40px;
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    #placar span label {
        font-size: 16px;
    }
    
    #placar span input {
        font-size: 15px;
    }

    #placar span .pontosPlayer {
        font-size: 16px;
        margin-right: 270px;
    }
}